@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Debashrita's Website</h1>
    <p>Learn more about us <a href="https://www.brainwareuniversity.ac.in">Brainware University</a>.</p>
    <p>Edited: I am a student of M.Sc in Advanced Networking and Cyber Security from Brainware University</p>
</div>
